// Typography
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$font_size: 20px;
$font_family: "Libre Franklin", sans-serif;

// Primary
$blue: hsl(223, 87%, 63%);

// Secondary
$pale_blue: hsl(223, 100%, 88%);
$light_red: hsl(354, 100%, 66%);

// Neutral
$gray: hsl(0, 0%, 59%);
$very_dark_blue: hsl(209, 33%, 12%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}
